.container {
  background-color: #020c4a;
}
.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.logo {
  height: 70px;
}
.nav-items {
  margin-left: auto;
}
nav li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav li a {
  color: white;
  text-decoration: none;
  padding: 20px 30px;
}
li a:hover {
  background-color: #101b63;
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
}
.budget h3 {
  text-align: center;
  color: white;
  padding: 10px;
}
.budget p {
  color: white;
  padding: 15px 0 8px;
  text-align: center;
}
.budget {
  background-color: rgb(1, 63, 63);
}
