.singer-img {
  background-color: red;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid rgb(96, 33, 155);
}
.image-cropper {
  text-align: center;
}
h2,
p {
  padding: 3px 0;
}
.singer-container {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 5px 5px 10px #dbdbdb;
}
.general-btn {
  background-color: #020c4a;
  padding: 10px 30px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.general-btn:hover {
  background-color: #22538a;
}
.cart-icon {
  padding-right: 5px;
}
.info-icon {
  color: #3c008b;
  text-align: center;
}
.icons {
  cursor: pointer;
  margin-top: 14px;
  padding: 10px 20px;
  font-size: 20px;
}
.icons:hover {
  color: black;
}
